# Git関連
.git
.gitignore

# Python関連
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 仮想環境
venv/
ENV/

# IDE関連
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# テスト関連
.coverage
.pytest_cache/
htmlcov/

# AWS CDK関連
cdk.out/
new-cdk.out/

# 環境変数
.env
.env.*

# その他
*.log
.DS_Store
node_modules/
